[submodule "plugins/cordova-plugin-device"]
	path = plugins/cordova-plugin-device
	url = https://git-wip-us.apache.org/repos/asf/cordova-plugin-device.git
[submodule "plugins/cordova-plugin-statusbar"]
	path = plugins/cordova-plugin-statusbar
	url = https://github.com/apache/cordova-plugin-statusbar.git
[submodule "plugins/phonegap-build/GAPlugin"]
	path = plugins/phonegap-build/GAPlugin
	url = https://github.com/phonegap-build/GAPlugin.git
[submodule "plugins/phonegap-build/StatusBarPlugin"]
	path = plugins/phonegap-build/StatusBarPlugin
	url = https://github.com/phonegap-build/StatusBarPlugin.git
