<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.taxicode" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	
	<name>Taxicode</name>
	<description>Taxicode allows you to get quotes for and book taxis online.</description>
	<author email="support@web3r.co.uk" href="http://www.taxicode.com">Taxicode Team</author>

	<feature name="http://api.phonegap.com/1.0/device" />
	<preference name="permissions" value="none" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="false" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="white-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />

	<icon src="icon.png" />
	<icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
	<icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
	<icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
	<icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />

	<access origin="http://127.0.0.1*" />

	<gap:plugin name="com.phonegap.plugin.statusbar" />

</widget>
