body {
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	background-image: url('../img/background.jpg');
	background-size: auto 600px;
	background-position: center 0px;
	background-repeat: no-repeat;
	height: 100%;
	margin-bottom: 60px;
}

* {
	user-select: none;
	-webkit-user-select: none;
}

#StatusBar {
	width: 320px;
	height: 21px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-image: url('../img/statusbar.png');
	background-size: 320px 21px;
}

#header {
	position: fixed;
	top: 0px;
	left: 0px;

	height: 33px;
	width: 100%;
	padding: 20px 0px 10px;

	text-align: center;

	background-color: #1889D4;
	background-image: url('../img/header2.png');
	background-position: bottom;
	background-repeat: repeat-x;
	box-shadow: 0px 0px 2px black;

	z-index: 100;

}

#header img {
	width: 250px
}

.view {
	position: relative;
	margin-top: 73px;
	color: white;
}

.view > h1 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0px;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 46px;
	width: 100%;
	background-image: url('../img/header.png');

	font-size: 0px;
	text-align: center;

	z-index: 101;

}

#footer a {
	display: inline-block;
	font-size: 8px;
	width: 20%;
	height: 46px;
	padding: 0px 0px;
	color: white;
	cursor: pointer;
}

#footer a:hover { background: rgba(0, 0, 0, 0.1); }
#footer a:active { background: rgba(0, 0, 0, 0.2); }

#footer a i {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32px;
	height: 32px;
	background-size: 64px 32px;
	background-repeat: no-repeat;
}

#footer a.selected i {
	background-position: -32px 0px;
}

#footer a[data-render=booking] i { background-image: url('../img/icon_book_journey.png'); }
#footer a[data-render=booking2] i { background-image: url('../img/icon_book_journey.png'); }
#footer a[data-render=account] i { background-image: url('../img/icon_my_account.png'); }
#footer a[data-render=bookings] i { background-image: url('../img/icon_view_bookings.png'); }
#footer a[data-render=help] i { background-image: url('../img/icon_help.png'); }
#footer a[data-render=console] i { background-image: url('../img/icon_console.png'); }

input, select, textarea {
	width: 100%;
	font-size: 14px;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	border-radius: 0px;
	outline: none;
	background: #FFF;
	user-select: auto;
	-webkit-user-select: auto;
}

input::-webkit-input-placeholder {
	text-align: right;
	padding-right: 5px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=time],
select {
	box-sizing: border-box;
	padding: 5px 10px;
	height: 37px;

	line-height: 27px;
	border: none;

	font-size: 16px;

	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

	outline: none;

	margin: 0px 0px 10px;
}

input[type=date], input[type=time] {
	width: 48%;
}
input[type=time] {
	margin-left: 4%;
}

select {
	width: 100%;
}

#console input {
	border-radius: 0px;
	border-width: 0px;
	font-family: Courier;
	font-weight: light;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.75);
	color: #A6E22A;
	background: #000000;
	transition: background-color linear 0.3s;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	outline: none !important;
	padding: 5px;
	margin: 5px 0px;
	font-size: 16px;
}
#console input:focus {
	background: #272822;
}

.block {
	padding: 10px;
	background: white;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	color: black;
}

.block h2 {
	margin: 0px;
	text-shadow: none !important;
}

.block .field {
	margin: 10px -10px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 0px;
}

.block .fieldset {
	margin: 10px -10px;
}
.block .fieldset .field {
	margin: -1px 0px 0px;
}

.block .field label {
	width: 30%;
	text-align: right;
	color: #666;
}

.block .field input {
	width: 70%;
	border-left: 1px solid #CCC;
}

.block .field input, label {
	font-size: 16px;
	margin: 0px;
	padding: 5px;
	box-sizing: border-box;
	box-shadow: none;
	display: inline-block;
	outline-offset: 0px;
}

.expand-block {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	margin: 5px -10px -6px;
	padding: 10px;
}

.expand-block > h3 {
	cursor: pointer;
}

.expand-block > h3:hover {
	color: #008DD4;
}

.expand-block > div {
	margin-top: 5px;
	display: none;
}


