body {
	background-image: url('../img/tpc/bg.jpg');
}

.logo {
	display: inline-block;

	width: 250px;
	height: 34px;

	background-image: url('../img/tpc/logo.png');
	background-size: 250px 34px;

	margin-top: 4px;
}

#header, #footer {
	background: #008DD4;
}

.btn {
	font-size: 14px;
	background: #008DD4;
	color: white;
	padding: 10px 20px;
	display: inline-block;/*ie7*/zoom:1;*display:inline;/*ie7end*/
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);

	margin-left: auto;
	margin-right: auto;
}

.btn:hover, .btn:active {
	background: #000;
}